<h1>today's dreams</h1>
<div class="subheader">
  <%= link_to 'add yours', new_post_path %>
  </div>
  <div class="post-containers">
        <div id="post-container-1" class="post-container">
          <%= image_tag('/assets/cc1.png') %>
          </div>
        <div id="post-container-2" class="post-container">
          <%= image_tag('/assets/cc2.png') %>
          </div>
        <div id="post-container-3" class="post-container">
          <%= image_tag('/assets/cc3.png') %>
          </div>
        <div id="post-container-4" class="post-container">
          <%= image_tag('/assets/cc4.png') %>
          </div>
        <div id="post-container-5" class="post-container">
          <%= image_tag('/assets/cc5.png') %>
          </div>
        <div id="post-container-6" class="post-container">
          <%= image_tag('/assets/cc6.png') %>
          </div>
    </div>
