  <div class="dream-container">
    <div class="dream-content">
    <%= @post.title %>
    <div class="dream-date">
      <%= @post.created_at.strftime("%b %e, %Y at %l:%M:%S%P") %>
      </div>
  <div class="dream-content-full">
    <%= @post.body %>
    </div>
  <div class="author">
    <%= @post.user.email %> |
  <% if @post.comments.present? %>
    <%= link_to "#{@post.comments.count} comments", post_comments_path(@post) %>
    </div>
     <div class="post-comments-<%=@post.id%>">
     </div>

     <% else %>
     <%= link_to "#{@post.comments.count} comments", post_comments_path(@post) %>
     <p>Add a New Comment</p>
     <% end %>


         <%= form_for(@post.comments.build, :url => post_comments_path(@post)) do |f|  %>
         <%= f.text_area :content %>

         <p><%= f.submit %></p>
         <% end %>

   <% if current_user.id = @post.user_id %>
   <%= link_to 'Edit Post', edit_post_path(@post) %>
   <% else %>
   <% end %> |
   <%= link_to 'Back', posts_path %>
   </div>
</div>
