<h1>latest dreams</h1>
  <div class="subheader">
    <% if user_signed_in? %>
    <%= link_to 'add yours', new_post_path %>
    <% else %>
    <%= link_to 'add yours', new_user_session_path %>
    <% end %>
    </div>
    <div class="post-containers">
      <% if @posts.size > 0 %>
        <% @posts.each do |post| %>
          <div class="post-container">
            <%= image_tag('/assets/cc'+(Random.rand(1 .. 6).to_s)+'.png') %>
              <div class="post-preview">
              <%= post.title %><br>
              <%= link_to 'read more', post_path(post.id) %>
              </div>
            </div>
            <% end %>
            <% else %>
      <% end %>
    </div>
